    table, tr, td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
        }
    table {
        width: 80%;
        height: 70%;
    }
    body {
      background-color: lightgreen;
    }

    input {
        width: 90%;
        height: 90%;
        text-align: center;
        font-size: 3vmin;
    }

    .thick-border-left {
        border-left-width: 5px;
    }
    .thick-border-right {
        border-right-width: 5px;
    }
    .thick-border-top {
        border-top-width: 5px;
    }
    .thick-border-bottom {
        border-bottom-width: 5px;
    }

    button {
        width: 20%;
        height: 5%;
    }

    select {
        width: 10%;
        height: 5%;
    }
